<div class="m10">
    <div class="home-bar">
        <p>Home</p>
    </div>    
    <div class="employee-header">
        <h3 class="center-align">Employee Details</h3>
        <button type="button" class="btn btn-primary" (click)="openDialog('Add', {header:'Add Employee'})" data-target="modal-example">Add</button>
    </div>    
    <div>
        <app-table [empData]="empData" (emitEdit)="onEdit($event)" (emitDelete)="onDelete($event)"></app-table>
    </div>
    <div class="employee-header">
        <h3 class="center-align">Deleted Employee List</h3>
    </div>    
    <div >
        <app-table [empData]="deletedData" [deleteStatus] = "deleteStatus" (emitRestore)="onRestore($event)" ></app-table>
    </div>
</div>
